<%
if (@photo >= 0 and @photo < @photos_count)
    @next_photo = @photo+1
end

if (@photo <= @photos_count and @photo > 0)
    @prev_photo = @photo-1
end

@main_photo_index = (@photo <= @photos_count) ? @next_photo : 0;

%>

<div class="content">
    <div id="photos" class="_box">
        
        <div id="photo" class="photo">
            <img src="/images/photos/<%= @photo %>.jpg" />

            <div class="prev_and_next">
                
                <% if @prev_photo %>
                    <a id="previous_photo" href="/fotos/<%= @prev_photo %>">Anterior</a>
                <% end %>
                
                <% if @prev_photo and @next_photo %>
                 | 
                <% end %>
                
                <% if @next_photo %>
                    <a id="next_photo" href="/fotos/<%= @next_photo %>">Próxima</a>
                <% end %>
            </div>
        </div>
        
        <div class="photo_menu" style="">
            <span class="gallery gallery_left">
                <nav>
                    <% (1..21).each do |thumb_index| %>
                    <div>
                        <a href="/fotos/<%= thumb_index %>">
                            <img src="/images/thumbs/<%= thumb_index %>.jpg" height="35px" width="35px" />
                        </a>
                    </div>
                    <% end %>
                </nav>
            </span>
            
            <a href="/fotos/<%= @main_photo_index %>">
                <span id='photo_cover' class="photo_cover">
                </span>
            </a>

            <span class="gallery gallery_right">
                <nav>
                    <% (22..@photos_count).each do |thumb_index| %>
                    <div>
                        <a href="/fotos/<%= thumb_index %>">
                            <img src="/images/thumbs/<%= thumb_index %>.jpg" height="35px" width="35px" />
                        </a>
                    </div>
                    <% end %>
                </nav>
            </span>
        </div>

    </div>
</div>