<!DOCTYPE html>
<html>
<head>
    <title>Cristalli - Eventos Personalizados | <%= @title %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application" %>
    <link rel="icon shortcut" href="/favicon.ico" />
    
</head>
<body>
    <div id="container" class="container">
        <header>
            <div class="logo_container">
                <a id="logo" href="/home">
                    <img class="logo" 
                         width="340" height="124"
                         alt="Cristalli Eventos Personalizados" 
                         title="Cristalli Eventos Personalizados"
                         src="/images/logo.png" />
                 </a>
             </div>
        </header>
        <div id="main" class="main" role="main">
            <%= yield %>
        </div>
        <nav id="main_menu">
            <div class="main_menu">
                <ul>
                    <li>
                        <%= link_to image_tag("/images/facebook.png", :size => "76x56", :alt => "Cristalli no Facebook"), 
                                    "http://facebook.com/cristallieventos", 
                                    :class => "fb_link",
                                    :target => "blank" %>
                    </li>
                    <li>
                        <%= link_to image_tag("/images/menu/conceito.png", :size => "135x89", :alt => "Conceito"),
                                              "/conceito" %>
                    </li>
                    <li>
                        <%= link_to image_tag("/images/menu/modulos.png", :size => "125x76", :alt => "Módulos"),
                                              "/modulos" %>
                    </li>
                    <li>
                        <%= link_to image_tag("/images/menu/fotos.png", :size => "114x72", :alt => "Fotos"),
                                              "/fotos" %>
                    </li>
                    <li>
                        <%= link_to image_tag("/images/menu/contato.png", :size => "125x76", :alt => "Contato"),
                                                "/contato" %>
                    </li>
                </ul>
            </div>
        </nav>
        <footer>
            <div class="footer">
            </div>
        </footer>
    </div> <!--! end of #container -->
    
    <%= javascript_include_tag "application" %>
    
    <script type="text/javascript">      
                
        <%= yield :js_inline %>
        
        // including all javascripts and, after all, consuming all assync functions
        include(cristalli.urls, cristalli.events_queue.consume);
        
    </script>
</body>
</html>
