<!DOCTYPE html>
<html>
<head>
  <title>Cristalli - Eventos Personalizados | <%= @title %></title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <%= csrf_meta_tags %>
  
  <link rel="stylesheet" href="/css/html5_boilerplate.css">
  <link rel="stylesheet" href="/css/style.css">
  
</head>
<body>
    <div id="container">
        <header>
            <a href="/home">
                <img id="logo" class="logo" 
                     width="340" height="124"
                     alt="Cristalli Eventos Personalizados" 
                     title="Cristalli Eventos Personalizados"
                     src="/images/logo.png" />
             </a>
        </header>
        <div id="main" class="main" role="main">
            <%= yield %>
        </div>
        <nav id="main_menu">
            <ul>
                <li>
                    <%= link_to image_tag("/images/menu/conceito.png", :size => "135x89", :alt => "Conceito"),
                                          "/conceito" %>
                </li>
                <li>
                    <%= link_to image_tag("/images/menu/modulos.png", :size => "125x76", :alt => "Módulos"),
                                          "/modulos" %>
                </li>
                <li>
                    <%= link_to image_tag("/images/menu/fotos.png", :size => "114x72", :alt => "Fotos"),
                                          "/fotos" %>
                </li>
                <li>
                    <%= link_to image_tag("/images/menu/contato.png", :size => "125x76", :alt => "Contato"),
                                          "/contato" %>
                </li>
            </ul>
        </nav>
        <footer>
        </footer>
    </div> <!--! end of #container -->
</body>
</html>
